// $mainBgColor: #1d1326;
// $mainYellow: #f7ab00;
// $mainWhite: #fdfefc;
// $mainGrey: #a39eab;

$headerHeight: 80px;
$footerHeight: 0px;

$primary: #3795BD;
$secondary: #4E31AA;
$tertiary: #F7F7F8;
$quaternary: #3A1078
